@use '../../../styles/adaptivepx.scss' as *;


.root{

    margin-bottom: $apx-121;
    padding-left: $apx-40;
    padding-right: $apx-40;

    @media (max-width: 1024px) {

        padding-left: $apx-20;
        padding-right: $apx-20;

    }

    .text{

        margin-bottom: $apx-74;

        @media (max-width: 1024px) {

            margin-bottom: $apx-l-40;

        }

    }


} 

