@use '../../../styles/adaptivepx.scss' as *;


.root{

    margin-top: $apx-200;
    margin-bottom: $apx-121;
    padding-left: $apx-40;
    padding-right: $apx-40;

    .text{

        margin-bottom: $apx-74;
    }


} 

