@import '../../../styles/adaptivepx.scss';

.mainContainer {

  display: flex;
  flex-direction: column;
  padding: 0 $apx-40;
  margin: 0 auto;
  max-width: $apx-1440;

  .content { flex-grow: 1; }

}

@media screen and ( max-width: 1024px ) {

  .mainContainer {

    padding: 0;

  }

}

@media screen and ( max-width: 640px ) {

  .mainContainer {

    // .content {

    //   padding-top: $apx-m-65;

    // }

  }

}
