@use '../../../styles/adaptivepx.scss' as *;

.mainContainer {

  display: flex;
  flex-direction: column;
  // padding: 0 $apx-16;
  margin: 0 auto;
  // max-width: $apx-1440;
  max-width: $apx-1920;
  background-color: #FAFAF2;

  .content { flex-grow: 1; }

}

@media screen and ( max-width: 768px ) {

  .mainContainer {
    max-width: 100%;

    padding: 0;

  }

}

@media screen and ( max-width: 475px ) {

  .mainContainer {

    // padding: 0 $apx-m-16;
    padding: 0 ;
    // max-width: 100%;

    // .content {

    //   padding-top: $apx-m-65;

    // }

  }

}
