@import '../../../styles/adaptivepx.scss';

.mainContainer {

  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  padding: 0 $apx-340 0 $apx-290;
  width: 100%;

  .content { flex-grow: 1; }

}

@media screen and ( max-width: 1024px ) {

  .mainContainer {

    padding: 0;

  }

}

@media screen and ( max-width: 640px ) {

  .mainContainer {

    // .content {

    //   padding-top: $apx-m-65;

    // }

  }

}
