@use '../../../styles/adaptivepx.scss' as *;

.root{

  position: relative;
  cursor: pointer;
  
  .img{

    @media screen and ( max-width: 768px ) {

      height: $apx-l-320;

    }

    @media screen and ( max-width: 475px ) {
      height: $apx-m-180;


    }

    img{

      width: 100%;
      max-width: $apx-440;
      height: $apx-320;
      border-radius: $apx-10;

      @media screen and ( max-width: 768px ) {

        height: $apx-l-320;
        max-width: $apx-l-536;
        border-radius: $apx-l-10;

      }

      @media screen and ( max-width: 475px ) {

        border-radius: $apx-m-10;
        height: $apx-m-180;
        max-width: $apx-m-350;

      }

    }
    
  }

  .text{

    position: absolute;
    left: $apx-30;
    bottom: $apx-30;

    @media screen and ( max-width: 768px ) {

      left: $apx-l-30;
      bottom: $apx-l-30;

    }

    @media screen and ( max-width: 475px ) {

      left: $apx-m-30;
      bottom: $apx-m-30;

    }

    &:last-child{

      color: #FAFAF2;
      
    }

    .title{

      font-family: Cormorant Unicase;
      font-size: $apx-20;
      font-weight: 400;
      line-height: 100%;
      color: #FFFFFF;
      margin-bottom: $apx-24;
      max-width: $apx-146;


      @media screen and ( max-width: 768px ) {

        max-width: $apx-l-146;

        font-size: $apx-l-30;
        margin-bottom: $apx-l-16;

      } 

      @media screen and ( max-width: 475px ) {

        max-width: $apx-m-146;

        font-size: $apx-m-20;
        margin-bottom: $apx-m-16;

      }

    }

    .link{

      border: 1px solid rgba(250, 250, 250, 0.2);
      border-radius: $apx-4;
      padding: $apx-9 $apx-15;
      font-family: Cormorant;
      font-size: $apx-12;
      font-weight: 400;
      line-height: 100%;
      color: #FAFAF2;

      @media screen and ( max-width: 768px ) {

        font-size: $apx-l-22;
        line-height: 80%;
        color: #FFFFFF;

        padding: $apx-l-9 $apx-l-22;
        border-radius: $apx-l-4;



      } 

      @media screen and ( max-width: 475px ) {

        font-size: $apx-m-12;
        line-height: 80%;

        padding: $apx-m-9 $apx-m-22;
        border-radius: $apx-m-4;

      }

    
      
    }

  }

}