@use '../../../styles/adaptivepx.scss' as *;
@use '../../../styles/mixins.scss' as *;

.root{

  position: relative;

  display: flex;
  align-items: center;
  column-gap: $apx-134;

  background-color: #444402;
  color: #FAFAF2;
  padding: $apx-6 $apx-30 $apx-14 $apx-43;

  @media screen and ( max-width: 1024px ) {

    padding: $apx-l-6 $apx-l-30 $apx-l-14 $apx-l-43;

    column-gap: $apx-l-150;

  }

  @media screen and ( max-width: 475px ) {

    padding: $apx-m-10 $apx-m-10 $apx-m-10 $apx-m-10;
    align-items: flex-start;
    height: $apx-m-100;

  }


  .left{

    display: flex;
    align-items: center;
    column-gap: $apx-54;

    .logo{

      svg{

        width: $apx-80;
        height: $apx-80;

        @media screen and ( max-width: 1024px ) {

          width: $apx-l-120;
          height: $apx-l-150;

        }

      }
      
    }

    .navWrap{

      display: flex;
      align-items: center;
      column-gap: $apx-54;

      @media screen and ( max-width: 1024px ) {

        column-gap: $apx-l-54;

      }

      .phoneWrap{

        display: flex;
        align-items: center;
        column-gap: $apx-10;

        font-size: $apx-16;
        font-weight: 400;
        line-height: 100%;
        white-space: nowrap;

        @media screen and ( max-width: 1024px ) {

          font-size: $apx-l-20;
          column-gap: $apx-l-10;

        }

        @media screen and ( max-width: 475px ) {

          font-size: $apx-m-14;
          column-gap: $apx-m-10;

        }

        .phone, svg{

          cursor: pointer;
          
          &:hover{
            
            color:red;
            
          }

        }

        svg{

          width: $apx-24;
          height: $apx-24;

          @media screen and ( max-width: 1024px ) {

            width: $apx-l-24;
            height: $apx-l-24;

          }

          @media screen and ( max-width: 475px ) { 

            width: $apx-m-14;
            height: $apx-m-14;

          }

        }

      }
  
      .nav{
  
        display: flex;
        align-items: center;
        column-gap: $apx-54;

        font-size: $apx-16;
        font-weight: 700;
        line-height: 100%;
        white-space: nowrap;
        text-transform: uppercase;

        @media screen and ( max-width: 1024px ) {

          display: none;

        }

        div{

          cursor: pointer;

          &:hover{

            color:red;

          }

        }
    
      }
  
    }

  }

  .right{

    display: flex;
    align-items: center;
    column-gap: $apx-42;

    .searchWrap{

      @media screen and ( max-width: 1024px ) {

        flex-direction: column-reverse;
        align-items: flex-end;
        row-gap: $apx-l-14;
  
      }

      @media screen and ( max-width: 475px ) { 

        row-gap: $apx-m-14;

      }

      .search{

        @media screen and ( max-width: 475px ) { 
          
          max-width: $apx-m-160;
          position: absolute;
          left: $apx-m-56;
          bottom: $apx-m-20;
 
        }

      }

    }

    div{

      display: flex;
      
    }

    input{

      width: $apx-323;
      height: $apx-39;

      @media screen and ( max-width: 1024px ) {

        width: $apx-l-323;
        height: $apx-l-39;

      }

      @media screen and ( max-width: 475px ) { 

        width: $apx-m-200;
        height: $apx-m-20;
      }

    }

    .iconsWrap{

      display: flex;
      align-items: center;
      column-gap: $apx-14;
      margin-left: $apx-42;

      @media screen and ( max-width: 1024px ) {

        column-gap: $apx-l-14;
        margin-left: 0;

      }

      @media screen and ( max-width: 475px ) { 

        column-gap: $apx-m-14;
        margin-left: 0;

        position: absolute;
        right: $apx-m-34;
        bottom: $apx-m-18;

      }

      .likeWrap{

        svg{

          width: $apx-20;
          height: $apx-18;

          @media screen and ( max-width: 1024px ) {
  
            width: $apx-l-40;
            height: $apx-l-38;
  
          }

          @media screen and ( max-width: 475px ) {  

            width: $apx-m-20;
            height: $apx-m-18;

          }
        }

      }

      .basketWrap{

        svg{

          width: $apx-22;
          height: $apx-21;

          @media screen and ( max-width: 1024px ) {
  
            width: $apx-l-42;
            height: $apx-l-41;
  
          }

          @media screen and ( max-width: 475px ) {  

            width: $apx-m-20;
            height: $apx-m-18;
            
          }
        }

      }
  
    }

  }

}

.mobileMenu {

  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;

}

.hamburger {

  display: none !important;

  @media screen and (max-width: 1024px) {

    display: block !important;
    cursor: pointer;
    margin-right: $apx-l-36;

    svg{

      width: $apx-l-113;
      height: $apx-l-113;

    }

  }

  @media screen and ( max-width: 475px ) { 
    display: block !important;
    cursor: pointer;
    margin-right: $apx-m-36;

    svg{

      width: $apx-m-60;
      height: $apx-m-60;

    }
  }
  
}