@use '../../styles/adaptivepx.scss' as *;


.test2{
  background: #fff;

  h1{

  margin-left: 500px;
  
}
}
.test{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  

  

img{
  width: 250px;
  height: 300px;
}
}

.backButton {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }
}


