@use '../../../styles/adaptivepx.scss' as *;


.carousel {
    position: relative;
    width: 100%;
    // max-width: $apx-1200;
    margin: 0 auto;
    padding: 0 $apx-40;
    overflow: hidden;
  }
  
  .slideContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .slidesWrapper {
    display: flex;
    width: 100%;
    gap: $apx-20;
  }
  
  .slide {
    flex: 0 0 calc((100% - $apx-60) / 3);
    position: relative;
    border-radius: $apx-10;
    overflow: hidden;
    aspect-ratio: 3/4;
    background: #fff;
    padding: $apx-26 $apx-30 $apx-56 $apx-30;
    border: 1px solid #e0e0e0;
  }
  
  .imageWrapper {
    width: 100%;
    // height: $apx-92;
    position: relative;
  }

  .middleSlide{
    background-color: red;
  }
  
  .image {
    width: 100%;
    // height: 100%;
    // width: $apx-265;
    // height: $apx-310;
    object-fit: cover;
    border-radius: $apx-10;
  }

  .content {
    position: absolute;
    bottom: $apx-16;
    left: $apx-16;
    right: $apx-16;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: $apx-8;
    border-radius: $apx-4;
  }
  
  .title {
    font-size: $apx-18;
    color: #333;
    margin-bottom: $apx-4;
    text-align: left;
  }
  
  .subtitle {
    font-size: $apx-14;
    color: #666;
    text-align: left;

  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: $apx-40;
    height: $apx-40;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease;
  
    &:hover {
      background: rgba(255, 255, 255, 1);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  
    &.arrowLeft {
        top: $apx-370;
        left: $apx-46;
    }
  
    &.arrowRight {
        top: $apx-370;
        left: $apx-338;
    }
  }
  
  @media (max-width: 768px) {
    .slide {
      flex: 0 0 calc(100% - $apx-20);
    }
    
    .slidesWrapper {
      transform: none !important;
    }
  }

  .pagination {

    position: absolute;
    top: $apx-350;
    left: $apx-172;
    display: flex;
    justify-content: center;
    gap: $apx-8;
    margin-top: $apx-20;
  }
  
  .dot {
    width: $apx-8;
    height: $apx-8;
    border-radius: 50%;
    background: #D9D9D9;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &.active {
      background: #333;
      transform: scale(1.2);
    }
  
    &:hover {
      background: #666;
    }
  }