@use '../../../styles/adaptivepx.scss' as *;

.root{

    width: $apx-785;
    margin-bottom: $apx-48;
    margin-left: $apx-115; 

    @media screen and ( max-width: 768px ) {

        width: $apx-l-821;

    }

    .title{

        font-family: Cormorant Unicase;
        font-size: $apx-24;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 2%;
        color: #222222;
        margin-bottom: $apx-8;
        text-transform: uppercase;
        // white-space: nowrap;

        @media screen and ( max-width: 768px ) {

            font-size: $apx-l-20;
            font-weight: 500;
            margin-bottom: $apx-l-16;

        }

        @media screen and ( max-width: 475px ) {

            font-size: $apx-m-14;
            font-weight: 500;
            margin-bottom: $apx-m-16;


        }
    
    }
    
    .subtitle{

        font-family: Cormorant;
        font-size: $apx-16;
        font-weight: 400;
        line-height: 120%;
        color: #222222; 

        @media screen and ( max-width: 768px ) {

            font-size: $apx-l-16;
            font-weight: 500;
 
        }

        @media screen and ( max-width: 475px ) {

            font-size: $apx-m-14;

        }
               
    }

}