@use "../../../styles/adaptive-px.scss" as *;

.Section {
  padding-top: $apx-40;
  padding-bottom: $apx-40;
  background: #ffffff;
}

.Inner {
  // max-width: 1200px;
  // margin: 0 auto;
  margin-left: $apx-50;
  margin-right: $apx-50;
  padding: 0 $apx-20;
}

.Title {
  font-size: $apx-28;
  font-weight: 600;
  color: #4a2f11;
  margin-bottom: $apx-24;
  text-transform: lowercase;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, $apx-385);
  // justify-content: center;
  gap: $apx-74;
}


