@use "../../../styles/adaptive-px.scss" as *;

.header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.inner {
  // max-width: 1200px;
  // margin: 0 auto;
  margin-left: $apx-50;
  margin-right: $apx-50;
  padding: 0 $apx-16;

  height: $apx-64;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Бургер */

.burger {

  img{

    width: $apx-50;
    height: $apx-42;

  }

  padding: 0;
  border: none;
  cursor: pointer;
}

/* Логотип */

.logo {

  img{

    width: $apx-194;
    height: $apx-47;

  }

  cursor: pointer;

  
}

/* Иконки справа */

.actions {
  display: flex;
  align-items: center;
  gap: $apx-16;
}

.iconButton {
  width: $apx-24;
  height: $apx-24;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

/* Лупа */

.iconSearch {
  &::before {
    content: "";
    position: absolute;
    inset: $apx-4;
    border-radius: 50%;
    border: $apx-2 solid #4a2f11;
  }

  &::after {
    content: "";
    position: absolute;
    width: $apx-8;
    height: $apx-2;
    background-color: #4a2f11;
    border-radius: $apx-2;
    right: $apx-2;
    bottom: $apx-4;
    transform: rotate(45deg);
    transform-origin: left center;
  }
}

/* Человечек */

.iconUser {
  &::before {
    /* голова */
    content: "";
    position: absolute;
    top: $apx-2;
    left: 50%;
    transform: translateX(-50%);
    width: $apx-12;
    height: $apx-12;
    border-radius: 50%;
    border: $apx-2 solid #4a2f11;
  }

  &::after {
    /* корпус */
    content: "";
    position: absolute;
    left: 50%;
    bottom: $apx-2;
    transform: translateX(-50%);
    width: $apx-18;
    height: $apx-10;
    border-radius: $apx-10 $apx-10 0 0;
    border: $apx-2 solid #4a2f11;
    border-top: none;
  }
}

/* Корзина */

.iconCart {
  &::before {
    /* сам ящик */
    content: "";
    position: absolute;
    left: $apx-3;
    right: $apx-3;
    top: $apx-7;
    bottom: $apx-5;
    border-radius: $apx-2;
    border: $apx-2 solid #4a2f11;
  }

  &::after {
    /* ручка + колёса */
    content: "";
    position: absolute;
    left: $apx-5;
    right: $apx-5;
    top: $apx-4;
    height: $apx-2;
    border-radius: $apx-2;
    background-color: #4a2f11;
    box-shadow:
      $apx-4 $apx-12 0 0 #4a2f11,
      $apx-4 $apx-12 0 0 #4a2f11; // два кружка-колеса
  }
}
