@use "../../../styles/adaptive-px.scss" as *;

.header {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.inner {
  // max-width: 1200px;
  // margin: 0 auto;
  margin-left: $apx-50;
  margin-right: $apx-50;
  padding: 0 $apx-16;

  height: $apx-64;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Бургер */

.burger {

  img{

    width: $apx-50;
    height: $apx-42;

  }

  padding: 0;
  border: none;
  cursor: pointer;
}

/* Логотип */

.logo {

  margin-left: $apx-138;

  img{

    width: $apx-194;
    height: $apx-47;

  }

  cursor: pointer;

  
}

/* Иконки справа */

.actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  transition: opacity .2s ease;

  &:hover {
    opacity: 0.7;
  }
}

