@use '../../../styles/adaptivepx.scss' as *;
@use '../../../styles/mixins.scss' as *;

.root{

  display: flex;
  padding: $apx-33 $apx-42 $apx-53 $apx-42;
  background-color: #444402;
  z-index: 4;

  @media screen and ( max-width: 768px ) {

    padding: $apx-l-40 $apx-l-4 $apx-l-120 $apx-l-40;

    height: $apx-l-300;
    column-gap: $apx-l-50;

  }

  @media screen and ( max-width: 475px ) {

    height: $apx-m-176;
    column-gap: $apx-m-15;

  }

  .hamburger {

    display: none !important;
  
    @media screen and (max-width: 768px) {
  
      display: block !important;
      cursor: pointer;
      margin-right: $apx-l-36;
  
      svg{
  
        width: $apx-l-113;
        height: $apx-l-113;
  
      }
  
    }
    
  }

  .logoWrap{

    display: flex;
    flex-direction: column;

    .logo{

      margin-right: $apx-186;

      svg{

        width: $apx-80;
        height: $apx-80;

        @media screen and ( max-width: 768px ) {

          width: $apx-l-150;
          height: $apx-l-150;

        }

        @media screen and ( max-width: 475px ) {

          width: $apx-m-113;
          height: $apx-m-113;

        }

      }

      @media screen and ( max-width: 768px ) {

        margin-right: $apx-l-250;

      }
      
    }

    span{

      font-size: $apx-12;
      font-weight: 400;
      line-height: 100%;
      white-space: nowrap;
      color: #FAFAF2;

      @media screen and ( max-width: 768px ) {

        font-size: $apx-l-18;

      }

      @media screen and ( max-width: 475px ) {

        font-size: $apx-m-16;

      }

    }

  }

  .menu{

    display: flex;
    flex-direction: column;
    row-gap: $apx-10;
    margin-right: $apx-114;

    span{
      
      font-size: $apx-16;
      font-weight: 400;
      line-height: 100%;
      color: #FAFAF2;
      white-space: nowrap;
      text-transform: uppercase;

      &:first-child{

        font-size: $apx-20;

      }

    }

    @media screen and ( max-width: 768px ) {

      display: none;  

    }

  }

  .info{

    display: flex;
    flex-direction: column;
    row-gap: $apx-10;
    margin-right: $apx-49;

    span{
      
      font-size: $apx-16;
      font-weight: 400;
      line-height: 100%;
      color: #FAFAF2;
      white-space: nowrap;
      text-transform: uppercase;

      &:first-child{

        font-size: $apx-20;

      }

    }

    @media screen and ( max-width: 768px ) {

      display: none;

    }

  }

  .contacts{

    display: flex;
    flex-direction: column;
    row-gap: $apx-10;

    @media screen and ( max-width: 768px ) {

      row-gap: $apx-l-10;

    }

    @media screen and ( max-width: 475px ) {

      row-gap: $apx-m-10;

    }

    span{
      
      font-size: $apx-20;
      font-weight: 400;
      line-height: 100%;
      color: #FAFAF2;
      white-space: nowrap;

      @media screen and ( max-width: 768px ) {

        font-size: $apx-l-24;

      }

      @media screen and ( max-width: 475px ) {

        font-size: $apx-m-16;

      }
      
      &:first-child{
        
        text-transform: uppercase;

      }

    }

    .icons{

      display: flex;
      column-gap: $apx-20;

      @media screen and ( max-width: 768px ) {

        column-gap: $apx-l-20;
        margin-top: $apx-l-10;

      }

      @media screen and ( max-width: 475px ) {

        column-gap: $apx-m-20;

      }

      svg{
        
        width: $apx-30;
        height: $apx-30;

        @media screen and ( max-width: 768px ) {

          width: $apx-l-40;
          height: $apx-l-40;

        }

        @media screen and ( max-width: 475px ) {

          width: $apx-m-30;
          height: $apx-m-30;

        }

      }

    }

  }

}