@import '../../../styles/adaptivepx.scss';
@import '../../../styles/mixins.scss';

.root{

  position: relative;

  height: $apx-720;
  display: flex;
  flex-direction: column;
  padding: $apx-153 $apx-499 $apx-111 $apx-155;

  background-image: url('../../../../../public/img/bg-home-section.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .title{

    font-size: $apx-64;
    font-weight: 600;
    line-height: 100%;
    color: #FAFAF2;
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: $apx-24;

    span{

      font-size: $apx-80;
      color: #ED7926;

    }

  }

  .subtitle{

    font-size: $apx-32;
    font-weight: 400;
    color: #FAFAF2;
    margin-bottom: $apx-72;

  }

  .icons{

    display: flex;
    column-gap: $apx-45;

    font-size: $apx-14;
    font-weight: 400;
    line-height: 100%;
    color: #FAFAF2;

    .item{

      display: flex;
      flex-direction: column;
      row-gap: $apx-16;
      align-items: center;
      text-align: center;

      svg{
        
        width: $apx-32;
        height: $apx-29;

      }

    }

  }
   
  .img{
    
    pointer-events: none;

    svg{

      position: absolute;
      top: $apx-20;
      right: -$apx-95;
  
      width: $apx-700;
      height: $apx-950;
  
      z-index: 3;
  
    }

  }


}