@use '../../../styles/adaptivepx.scss' as *;
@use '../../../styles/mixins.scss' as *;

.root{

  position: relative;

  height: $apx-720;
  display: flex;
  flex-direction: column;
  padding: $apx-153 $apx-499 $apx-111 $apx-155;

  background-image: url('../../../../../public/img/bg-home-section.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and ( max-width: 1024px ) {

    height: $apx-l-609;
    padding: $apx-l-112 $apx-l-16 $apx-l-72 $apx-l-138;

  }

  @media screen and ( max-width: 475px ) {

    height: auto;
    padding: $apx-m-70 $apx-m-16 $apx-m-16 $apx-m-20;
    

  }

  .title{

    font-size: $apx-64;
    font-weight: 600;
    line-height: 100%;
    color: #FAFAF2;
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: $apx-24;

    @media screen and ( max-width: 1024px ) {

      font-size: $apx-l-48;
      margin-bottom: $apx-l-24;

    }

    @media screen and ( max-width: 475px ) {

      font-size: $apx-m-24;
      margin-bottom: $apx-m-26;
      
      letter-spacing: -0.04em;

    }

    span{

      font-family: Cormorant Unicase;
      font-size: $apx-80;
      color: #ED7926; 
      line-height: 100%;

      @media screen and ( max-width: 1024px ) {

        font-size: $apx-l-64;

      }

      @media screen and ( max-width: 475px ) {

        font-size: $apx-m-28;
        letter-spacing: -0.04em;
        margin-bottom: $apx-m-10;


      }

    }

  }

  .subtitle{

    font-size: $apx-32;
    font-weight: 400;
    color: #FAFAF2;
    margin-bottom: $apx-72;

    @media screen and ( max-width: 1024px ) {

      font-size: $apx-l-24;
      line-height: 120%;
      margin-bottom: $apx-l-46;

    }

    @media screen and ( max-width: 475px ) {

      font-size: $apx-m-12;
      margin-bottom: $apx-m-25;

    }

  }

  .icons{

    display: flex;
    column-gap: $apx-45;

    font-size: $apx-14;
    font-weight: 400;
    line-height: 100%;
    color: #FAFAF2;

    @media screen and ( max-width: 1024px ) {

      position: absolute;
      left: 16%;
      bottom: $apx-l-100;
      font-size: $apx-l-14;
      column-gap: $apx-l-24;
      max-width: $apx-l-685;

    }

    @media screen and ( max-width: 475px ) {
    
      position: static;
      width: $apx-m-105;
      column-gap: $apx-m-20;

      // flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;

    }

    .item{

      display: flex;
      flex-direction: column;
      row-gap: $apx-16;
      font-family: Cormorant Unicase;
      font-size: $apx-14;
      font-weight: 400;
      line-height: 100%;
      align-items: center;
      text-align: center;

      @media screen and ( max-width: 1024px ) {

        font-size: $apx-l-18;
        line-height: 110%;
        row-gap: $apx-l-16;

      }

      @media screen and ( max-width: 475px ) {

        max-width: $apx-m-35;

        margin: $apx-m-4;
        margin-bottom: $apx-m-30;
        font-size: $apx-m-8;


      }

      svg{
        
        width: $apx-32;
        height: $apx-29;

        @media screen and ( max-width: 1024px ) {

          width: $apx-l-45;
          height: $apx-l-42;

        }

      }

    }

  }
   
  .img{
    
    pointer-events: none;

    svg{

      position: absolute;
      top: $apx-20;
      right: -$apx-95;
  
      width: $apx-700;
      height: $apx-950;
  
      z-index: 3;

      @media screen and ( max-width: 1024px ) {

        top: -$apx-l-50;
        right: -$apx-l-100;

        width: $apx-l-500;
        height: $apx-l-850;

      }
  
    }

  }


}